@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet');

$color-main: #fff;
$black-main: #000;
$color-gray: #eaeaea;
$blue-main: #6f99ff;
$lightblue-main: #9cb8ff;

.margin-default{
    margin: 0px 50px 0px 50px;

}