@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-main: #fff;
$black-main: #000;
$color-gray: #eaeaea;
$morelightblue-main: #caf0f8;
$lightblue-main: #90e0ef;
$lightlightblue-main: #00d3fe;
$blue-main: #00b4d8;
$darkblue-main: #0077b6;
$moredarkblue-main: #03045e;

.limits-default{
    width: 70%;
   
    @media (max-width: 940px) {
        width: 85%;
    }

    @media (max-width: 840px) {
        width: 95%;
    }

}

.internal-padef{
    padding-left: 75px;
    padding-right: 75px;
}

.page-struct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
