@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #fff;
$morelightblue-main: #caf0f8;
$lightblue-main: #90e0ef;
$blue-main: #7192ff;
$darkblue-main: #2e4fab;
$morelessdarkblue-main: #203777;
$moredarkblue-main: #2e4fab;

$darkmode-main: #18191a;
$darkmode-light: #242526;
$darkmodeblack-main: #232323;
$darkmodegray-main: #3A3B3C;
$darktransparent-main: #151516c2;

.darkmode{
    &-body{
        background-color: $darkmode-main !important;
    }

    &-article{
        background-color: $darkmode-light !important;
    }

    &-skills{
        background-color: $darkmode-light !important;
        border-color: $darkblue-main;

        img{
            filter: invert(1);
        }
    }

    &-card{
        background-color: $darkmodegray-main;
//        border-color: $darkblue-main !important;

        &-details-title{
            color: $lightblue-main !important;
        }

        &-details-desc{
            color: $white;
        }

        &-tech{
            div{
                border-top: 3px solid $darkblue-main;
                border-bottom: 3px solid $darkblue-main;
                background-color: $darkmode-main;
                
                img{
                    filter: invert(1);
                }

            }
        }

    }
    
    &-projects{
        background-color: $darkblue-main;
        border-color: $darkblue-main;

        div{
            h2, p{
                color: $white;
            }
        }
    }

    &-divider{
        h2{
            color: $blue-main !important;
        }
        span{
            border-color: $blue-main;
        }
    }

    &-header{
        background-color: $morelessdarkblue-main !important;
        border-bottom: 2px solid $morelessdarkblue-main !important;

    }

    &-button-altern{
        background-color: $darkblue-main;
        border: 2px solid $darkblue-main;

        &:hover{
            background-color: $morelessdarkblue-main;
        }
    }

    &-button{
        background-color:  $darkblue-main !important;

        &:hover{
            background-color:  $blue-main !important;
        }
    }
    
    &-header-refs{
        &-elements{

            a{
                color: $white !important;
            }

        }
    }

    &-header-transparent{
        background-color: $darktransparent-main !important;
        border-bottom: 2px solid $darktransparent-main !important;
    }
}