@import './_basics';

.item{
    text-decoration: none;
    width: 200px;

    &-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: center;
        background-color: $darkblue-main;
        transition: background-color 0.5s ease;
        border-radius: 10px;

        &-img{
            width: 32px;
        }

        &-text{
            color: $color-main;
            font-weight: 400;
            margin: 15px 0px 15px 0px;
        }

        &:hover{
            background-color: $blue-main;
        }
    }

}