@import './_basics';

$graytransparent-main: #ffffffa4;

#header{
    display: flex;
    position:sticky;
    flex-direction: column;
    top: 0;
    z-index: 10;
    background-color: $lightlightblue-main;
    box-shadow: 0px -20px 20px $black-main;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.5s;
    backdrop-filter: blur(20px);
    border-bottom: 2px solid $lightlightblue-main;


    &-ident{
        width: 48px;
        margin: 5px;
        #ident-image{
            width: 65px;
            @media (max-width: 450px) {
                width: 32px;
            }

        }
    }

    &-refs{
        width: 100%;
        justify-content: space-around;
        display: flex;
        gap: 15px;

        #refs-elements{
            display: flex;
            flex-direction: row;
            gap: 20px;
            list-style: none; 
            padding: 0;

            a{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: large;
                font-stretch:extra-expanded;
                color: $black-main;
                text-decoration: none;
            }
        }

    }

}

.header{
    &-transparent{
        background-color: $graytransparent-main !important;
    }

    &-alert{
        display: flex;
    }

    &-content{
        width: 100%;
        display: flex;
    }
}

.alert-element{
    text-align: center;
    color: white;

    a{
        color: rgb(145, 193, 255);
    }

}