@import './basics';

body{
    background-color: $color-gray;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
    gap: 10px;

    &-round{
        margin-top: 5px;
        width: 100%;
        border-top: 5px solid $darkblue-main;
        border-radius: 5px;
        box-shadow: none;
    }

    &-text{
        font-family: 'Poppins', sans-serif;
        color: $darkblue-main;
    }
}