@import './_basics';

.article{
    border-radius: 5px;    
    background-color: $color-main;
}

.article{

    &.project{
        @media (max-width: 840px) {
            flex-direction: column;
            align-items: center;
            text-align: center;

            img{
                width: 150px;
            }

            &.internal-padef{
                padding: 5px;
            }
        }

    }

    &.skills{
        @media (max-width: 840px) {
            gap: 0px;

            img{
                height: 38px;
            }
        }
    }
}

.project{
    display: flex;
    border-radius: 0;
    background-color: $color-main;
    border-left: 2px solid $blue-main;
    border-right: 2px solid $blue-main;
    align-items: center;
    gap: 25px;
    
    &-header{
        font-family: 'Poppins', sans-serif;
        font-size: xx-large;
        color: $darkblue-main;
        padding: 0;
        margin: 0;
    }

    &-details{
        font-family: 'Poppins', sans-serif;
        font-stretch:expanded;
        color: $black-main;
    }

    &-img{
        width: 256px;
    }
}

.skills{
    background-color: $blue-main;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
    gap: 15px;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid $blue-main;

    &-app{
        height: 64px;
        padding: 10px;
    }
}

.works{
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;

    &-elements{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        gap: 25px;

        @media (max-width: 840px) {
            flex-direction: column;
            align-items: center;
        }
    }
}